/*==============
==== GLOBAL ====
==============*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* BOX SIZING */

*{
    box-sizing: border-box;
}

/* COLOR PALET + SCROLL BEHAVIOR */

:root{
    --primary: #0065FC;
    --light: #DEEBFF;
    --secondary: #F2F2F2;
    --dark: #333;
    scroll-behavior: smooth;
}

/* TYPOGRAPHY */

a { 
    color: inherit;
    text-decoration: none;
}

h2{
    font-size: 16px;
    font-weight: 800;
}

h3{
    font-size: 14px;
    font-weight: 800;
    margin: 0;
}

p{
    font-size: 12px;
}

li{
    font-size: 12px;
}

/*==============
==== LAYOUT ====
==============*/

body{
    max-width: 992px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    color: var(--dark);
}
@media (min-width:767px) and (max-width: 991px){
    body{
        display: flex;
        flex-flow: row wrap;
    }
    main{
        width: 75%;
    }
    header{
        width: 25%;
    }
}

/*==============
==== HEADER ====
==============*/

/************
** NAV BAR **
************/

.nav-bar{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 991px){
    .nav-bar{
        flex-direction: column;
    }
}

/* LOGO */

.logo{
    height: 40px;
    margin: auto 20px;
}
@media (max-width: 767px){
    .logo{
        height: auto;
        width: 30%;
        margin: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .logo{
        margin: 15px auto;
        width: 50%;
    }
}

/* MENU */

.menu{
    width: 25%;
    display: flex;
}
@media (max-width: 767px){
    .menu{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .menu{
        flex-direction: column;
    }
}
/* MENU ENTRIES */

.menu__entry{
    flex-grow: 1;
    text-align: center;
    padding: 40px 15px;
    border-top: solid 2px transparent;
    font-size: 12px;
}
@media (min-width: 992px){
    /* on hover */
    .menu__entry:hover{
        border-top: solid 2px var(--primary);
        color: var(--primary);
    }
}
@media (max-width: 767px){
    .menu__entry{
        padding: 10px;
        border-bottom: solid 3px var(--secondary);
    }
    /* on touch */
    .menu__entry:active{
        border-bottom-color: var(--primary); 
        color: var(--primary)
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .menu__entry{
        padding: 10px;
        border-left: solid 4px transparent;
    }
    /* on touch */
    .menu__entry:active{
        border-left-color: var(--primary);
        color: var(--primary)
    }
}

/***********
** SEARCH **
***********/

.search{
    padding: 0 20px;
    margin: 15px 0px;
}
@media (min-width: 768px) and (max-width: 991px){
    .search{
        padding: 0 10px;
    }
}

/* SEARCH CONTAINER */

.search__bar{
    display: flex;
    font-size: 12px;
    border-radius: 10px;
    width: 300px;
}
@media (max-width: 991px){
    .search__bar{
        width: 100%;
    }
}


/* SEARCH PREPEND */

.search__localisation-icon{
    width: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: 10px 0 0 10px;
    height: 40px;
}
@media (min-width: 768px) and (max-width: 991px){
    .search__localisation-icon{
        display: none;
    }
}

/* SEARCH INPUT */

.search__input{
    padding: 0 5px;
    flex-grow: 1;
    border: solid 1px var(--secondary);
    border-left-color: transparent;
    border-right: none;
}
@media (max-width: 991px){
    .search__input{
        flex-grow: 1;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .search__input{
        border-left-color: var(--secondary);
        border-radius: 10px;
    }
}
.search__input:focus{
    outline: none;
    border: solid 1px var(--primary);
    border-right: none;
}
.search__input::placeholder{
    opacity: 100%;
    font-weight: 800;
    font-size: 12px;
}

/* SEARCH APPEND */

.search__button{
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 0 10px 10px 0;
    padding: 0 10px;
    font-weight: 600;
    font-size: 12px;
    height: 40px;
}
@media (max-width: 991px){
    .search__button{
        border-radius: 10px;
        width: 40px;
        margin-left: -20px;
    }
}
.search__label--icon{
    display: none;
}
@media (max-width: 991px){
    .search__label{
        display: none;
    }
    .search__label--icon{
        display: inline;
    }
}

/************
** FILTERS **
************/

.filters{
    display: flex;
    flex-flow: row wrap;
    margin: 15px 0;
    padding: 0 20px;
    gap: 20px;
    font-weight: 800;
    font-size: 12px;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 991px){
    .filters{
        padding: 10px;
    }
}

/* FILTERS TITLE */

@media (max-width: 991px){
    .filters__title{
        flex: 1 1 100%;
    }
}

/* FILTERS ENTRIES */

.filters__entry{
    border: solid 2px var(--secondary);
    border-left: 0;
    border-radius: 25px;
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: 10px;
}
/* Filters entries on hover - desktop view */
@media (min-width: 768px){
    .filters__entry:hover{
      background-color: var(--light);
      border-color: var(--light); 
      cursor: pointer; 
    }
}

/* FILTERS ICONS */

.filters__icon{
    font-size: 14px;
    height: 40px;
    width: 40px;
    background-color: var(--light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: var(--primary);
}

/*============
==== MAIN ====
============*/

/*********
** INFO **
*********/

.info{
    font-size: 12px;
    padding: 0 20px;
    display: flex;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 991px){
    .info{
        margin: 15px 0;
    }
}

/* INFO ICON */

.info__icon{
    display: flex;
    font-size: 10px;
    margin-right: 10px; 
    color: var(--primary);
    border: solid 1px var(--secondary);
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

/****************
** COMMODITIES **
****************/

.commodities{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 30px;
}
@media (max-width: 991px){
    .commodities{
        flex-direction: column-reverse;
        padding: 0;
    }
}

/* COMMODITIES SECTIONS */

.commodities__section{
    background-color: var(--secondary);
    border-radius: 20px;
    padding: 20px;
}

/* COMMODITIES HEADERS */

.commodities__header{
    margin-bottom: 15px;
    width: 100%;
}

.commodities__header h2{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* SEARCH RESULTS CONTAINER */

.search-result{
    flex: 2;
}
@media (max-width: 991px){
    .search-result{
        background-color: transparent;
    }
}

/* SEARCH RESULTS CONTENT */

.search-result__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
@media (max-width: 767px){
    .search-result__content{
        flex-direction: column;
    }
}

/* SEARCH RESULTS FOOTER */

.search-result__show-more{
    margin: 20px 10px 0;
}

/* MOST POPULAR CONTAINER */

.most-popular{
    flex: 1;
}
@media (max-width: 991px){
    .most-popular{
        width: 100%;
        border-radius: 0;
    }
}

/* MOST POPULAR CONTENT */

.most-popular__content{
    display: flex;
    flex-direction: column;
    gap: 10px
}

/****************
**  ACTIVITIES **
****************/

.activities{
    padding: 20px;
}

/* ACTIVITIES HEADER */

.activities__header{
    width: 100%;
}

/* ACTIVITIES CONTAINER */

.activities__content{
    display: flex;
    flex-flow: column wrap;
    align-content: stretch;
    height: 300px;
    gap: 30px;
}
@media (max-width: 767px){
    .activities__content{
        height: auto;
        gap: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .activities__content{
        width: 100%;
        overflow: scroll;
        scrollbar-width: none;
        padding-bottom: 5px;
    }
    .activities__content::-webkit-scrollbar{
        display: none;
    }
}

/*==============
==== FOOTER ====
==============*/

.footer{
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 20px;
}
@media (max-width: 767px){
    .footer{
        flex-direction: column;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .footer{
        width: 100%;
    }
}

/* FOOTER LISTS */

.footer__list{
    list-style: none;
    flex-grow: 1;
    padding: 0;
}

/* FOOTER LIST ENTRIES */

.footer__list li{
    padding: 5px 0;
}

/* FOOTER LIST TITLES */

.footer__list li:first-child{
    padding-bottom: 10px;
    font-weight: 600;
}

/*==================
==== COMPONENTS ====
==================*/

/**********
** CARDS **
**********/

.card{
    background-color: #FFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 1 1 30%;
    box-shadow: 2px 2px 5px var(--light);
}
.card:hover, .card:active{
    box-shadow: 2px 10px 5px var(--light);
    color: var(--primary);
}
@media (min-width: 768px) and (max-width: 991px){
    .card{
        flex: 1 1 40%;
    }
}

/*CARD'S VARIATION */

.card--horizontal{
    flex-direction: row;
}
/* .card--column{
    width: 215.5px;
}
@media (max-width: 767px){
    .card--column{
       width: auto;
    }
} */

.card--full-height{
    flex: 1 1 calc(100% - 40px);
}

.card--third-height{
    flex: 2 3 auto;
}

.card--half-height{
    flex: 3 2 auto;
}

/* CARD'S ELEMENTS */

.card__img{
    border-radius: 20px 20px 0 0;
    height: 100px;
    width: auto;
    object-fit: cover;
    object-position: 50%;

}

.card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    padding: 10px;
    flex: 0 1 40px;
}

.card__content p{
    margin: 5px 0;
}

.card__title{
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.card__link::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: transparent; 
}

/* CARD'S ELEMENT VARIATION */

.card__img--border{
    border: solid 5px white;
}
.card--horizontal .card__img{
    border-radius: 20px 0 0 20px ;
    width: 120px;
    height: 120px;
}
.card--horizontal .card__content{
    flex: 1 1 auto;
}
.card--column .card__img{
    flex: 1 1 auto;
    height: 30px;
}
@media (max-width: 767px){
    .card--column .card__img{
        height: 100px;
    }
}

.card--third-height .card__img{
    object-position: top;
}

.card--half-height .card__img{
    object-position: 50% 40%;
}

.card--full-height .card__img{
    object-position: top;
}

/***********
** RATING **
***********/

.rating{
    display: flex;
    font-size: 10px;
    margin-top: auto;
}

.rating i{
    color: var(--primary);
}

.rating i.disabled{
    color: var(--secondary);
}