/*==============
==== GLOBAL ====
==============*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* BOX SIZING */

*{
    box-sizing: border-box;
}

/* VARIABLES DECLARATION */

:root{
    /* Colors */
    --primary: #0065FC;
    --light: #DEEBFF;
    --secondary: #F2F2F2;
    --dark: #333;
    /* Spacing */
    --space-md: 20px;
    --space-sm: 10px;
    --space-lg: 30px;
    /* Radius */
    --radius-sm: 10px;
    --radius-md: 20px;
    --radius-circle: 50%;
}

/* SCROLL BEHAVIOR */

html{
    scroll-behavior: smooth;
}

/* TYPOGRAPHY */

a { 
    color: inherit;
    text-decoration: none;
}

h2{
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}

h3{
    font-size: 14px;
    font-weight: 800;
    margin: 0;
}

p{
    font-size: 12px;
    margin: 0;
}

li{
    font-size: 12px;
}

/*==============
==== LAYOUT ====
==============*/

.container{
    max-width: 992px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    color: var(--dark);
}
@media (min-width:768px) and (max-width: 991px){
    .container{
        display: flex;
        flex-flow: row wrap;
    }
    .container__body{
        width: 70%;
    }
    .container__header{
        width: 30%;
    }
}

/*==============
==== HEADER ====
==============*/

/************
** NAV BAR **
************/

.nav-bar{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 991px){
    .nav-bar{
        flex-direction: column;
    }
}

/* LOGO */

.logo{
    height: 40px;
    margin: auto var(--space-md);
}
@media (max-width: 767px){
    .logo{
        height: auto;
        width: 30%;
        margin: auto;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .logo{
        margin: 15px auto;
        width: 50%;
    }
}

/* MENU */

.menu{
    width: 25%;
    display: flex;
}
@media (max-width: 767px){
    .menu{
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .menu{
        flex-direction: column;
    }
}
/* MENU ENTRIES */

.menu__entry{
    flex-grow: 1;
    text-align: center;
    padding: 40px var(--space-md);
    border-top: solid 2px transparent;
    /* font-size: 12px; */
}
@media (min-width: 992px){
    /* on hover */
    .menu__entry:hover{
        border-top: solid 2px var(--primary);
        color: var(--primary);
    }
}
@media (max-width: 767px){
    .menu__entry{
        padding: var(--space-sm);
        border-bottom: solid 3px var(--secondary);
    }
    /* on touch */
    .menu__entry:active{
        border-bottom-color: var(--primary); 
        color: var(--primary)
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .menu__entry{
        padding: var(--space-sm);
        border-left: solid 4px transparent;
    }
    /* on touch */
    .menu__entry:active{
        border-left-color: var(--primary);
        color: var(--primary)
    }
}

/***********
** SEARCH **
***********/

.search{
    margin: var(--space-md) var(--space-md);
}
@media (min-width: 768px) and (max-width: 991px){
    .search{
        margin: var(--space-sm);
    }
}

/* SEARCH TITLE AND SUBTITLE */

.search__title{
    margin-bottom: var(--space-sm);
}

.search__subtitle{
    margin-bottom: var(--space-md);
}

/* SEARCH CONTAINER */

.search__bar{
    display: flex;
    font-size: 12px;
    border-radius: var(--radius-sm);
    width: 300px;
}
@media (max-width: 991px){
    .search__bar{
        width: 100%;
    }
}


/* SEARCH PREPEND */

.search__localisation-icon{
    width: 40px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    border-radius: var(--radius-sm) 0 0 var(--radius-sm);
    height: 40px;
}
@media (min-width: 768px) and (max-width: 991px){
    .search__localisation-icon{
        display: none;
    }
}

/* SEARCH INPUT */

.search__input{
    padding: 5px;
    flex-grow: 1;
    border: solid 1px var(--secondary);
    border-left-color: transparent;
    border-right: none;
    font-weight: 800;
    font-size: 12px;
}
@media (max-width: 991px){
    .search__input{
        flex-grow: 1;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .search__input{
        border-left-color: var(--secondary);
        border-radius: var(--radius-sm);
    }
}
.search__input:focus{
    outline: none;
    border: solid 1px var(--primary);
    border-right: none;
}
.search__input::placeholder{
    opacity: 100%;
    font-weight: 800;
    font-size: 12px;
}

/* SEARCH APPEND */

.search__button{
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
    padding: var(--space-sm);
    font-weight: 600;
    font-size: 12px;
    height: 40px;
    cursor: pointer;
}
@media (max-width: 991px){
    .search__button{
        border-radius: var(--radius-sm);
        width: 40px;
        margin-left: -20px;
    }
}
.search__label--icon{
    display: none;
}
@media (max-width: 991px){
    .search__label{
        display: none;
    }
    .search__label--icon{
        display: inline;
    }
}

/************
** FILTERS **
************/

.filters{
    display: flex;
    flex-flow: row wrap;
    margin: var(--space-md);
    gap: var(--space-md);
    font-weight: 800;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 991px){
    .filters{
       margin: var(--space-sm);
    }
}

/* FILTERS TITLE */

@media (max-width: 991px){
    .filters__title{
        flex: 1 1 100%;
    }
}

/* FILTERS ENTRIES */

.filters__entry{
    border: solid 2px var(--secondary);
    border-left: 0;
    border-radius: var(--radius-md);
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: var(--space-sm);
}
/* Filters entries on hover - desktop view */
@media (min-width: 768px){
    .filters__entry:hover{
      background-color: var(--light);
      border-color: var(--light); 
      cursor: pointer; 
    }
}

/* FILTERS ICONS */

.filters__icon{
    font-size: 14px;
    height: 40px;
    width: 40px;
    border-radius: var(--radius-circle);
    margin-right: var(--space-sm);
    background-color: var(--light);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;    
}

/*============
==== MAIN ====
============*/

/*********
** INFO **
*********/

.info{
    margin: var(--space-md);
    display: flex;
    align-items: center;
}
@media (min-width: 768px) and (max-width: 991px){
    .info{
        margin: 15px 0;
    }
}

/* INFO ICON */

.info__icon{
    display: flex;
    font-size: 10px;
    margin-right: var(--space-sm); 
    color: var(--primary);
    border: solid 1px var(--secondary);
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-circle);
}

/****************
** COMMODITIES **
****************/

.commodities{
    display: flex;
    justify-content: space-between;
    margin: var(--space-md);
    gap: var(--space-lg);
}
@media (max-width: 991px){
    .commodities{
        flex-direction: column-reverse;
        margin: 0;
    }
}

/* COMMODITIES SECTIONS */

.commodities__section{
    background-color: var(--secondary);
    border-radius: var(--radius-md);
    padding: var(--space-md);
}

/* COMMODITIES HEADERS */

.commodities__header{
    margin: var(--space-sm) 0;
    width: 100%;
}

.commodities__header h2{
    display: flex;
    justify-content: space-between;
}

/* SEARCH RESULTS CONTAINER */

.search-result{
    flex: 2 1 66%;
}
@media (max-width: 991px){
    .search-result{
        background-color: transparent;
    }
}

/* MOST POPULAR CONTAINER */

.most-popular{
    flex: 1 2 33%;
}
@media (max-width: 991px){
    .most-popular{
        width: 100%;
        border-radius: 0;
    }
}

/* SEARCH RESULTS CONTENT */

.search-result__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-sm);
}
@media (max-width: 767px){
    .search-result__content{
        flex-direction: column;
    }
}

/* SEARCH RESULTS FOOTER */

.search-result__show-more{
    margin-left: var(--space-sm);
    margin-top: var(--space-md);
}

/* MOST POPULAR CONTENT */

.most-popular__content{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

/****************
**  ACTIVITIES **
****************/

.activities{
    margin: var(--space-md);
}
@media (min-width: 768px) and (max-width: 991px){
    .activities{
        margin-left: calc( (30% / -0.7) + 20px);
    }
}

/* ACTIVITIES HEADER */

.activities__header{
    width: 100%;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-sm);
}

/* ACTIVITIES CONTAINER */

.activities__content{
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    align-content: space-between;
}
@media (max-width: 767px){
    .activities__content{
        height: auto;
    }
}

/*==============
==== FOOTER ====
==============*/

.container__footer{
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    padding: var(--space-md);
    margin-top: var(--space-md);
}
@media (max-width: 767px){
    .container__footer{
        flex-direction: column;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .container__footer{
        width: 100%;
    }
}

/* FOOTER LISTS */

.footer__list{
    list-style: none;
    flex-grow: 1;
    padding: 0;
}

/* FOOTER LIST ENTRIES */

.footer__list .list__item{
    margin-top: var(--space-sm);
}

/* FOOTER LIST TITLES */

.footer__list .list__item:first-child{
    margin-bottom: var(--space-md);
    font-weight: 600;
}

/*==================
==== COMPONENTS ====
==================*/

/**********
** CARDS **
**********/

.card{
    background-color: #FFF;
    border-radius: var(--radius-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    flex: 1 1 30%;
    box-shadow: 2px 2px 5px var(--light);
}
.card:hover, .card:active{
    box-shadow: 2px 10px 5px var(--light);
    color: var(--primary);
}
@media (min-width: 768px) and (max-width: 991px){
    .card{
        flex: 1 1 40%;
    }
}

/*CARD'S VARIATION */

.card--horizontal{
    flex-direction: row;
}
.card--column{
    --four-column-gap: calc(var(--space-lg) * 3 / 4);
    width: calc(25% - var(--four-column-gap));
    margin-bottom: var(--space-lg);
}

@media (max-width: 767px){
    .card--column{
       width: 100%;
       margin: var(--space-sm) 0;
    }
}

/* VARIABLE HEIGHT TO ACHIEVE THE MASONRY EFFECT */

.card--column:nth-child(3n+1){
    flex: 1 1 100%;
}

.card--column:nth-child(2n+3){
    flex: 2 3 auto;
}

.card--column:nth-child(4n+2){
    flex: 3 2 auto;
}

/* CARD'S ELEMENTS */

.card__img{
    border-radius: var(--radius-md) var(--radius-md) 0 0;
    height: 100px;
    width: auto;
    object-fit: cover;
    object-position: 50%;

}

.card__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    padding: 10px;
    flex: 0 1 40px;
}

.card__content p{
    margin: 5px 0;
}

.card__title{
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.card__link::after{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: inherit;
    content: "";
    background-color: transparent; 
}

/* CARD'S ELEMENT VARIATION */

.card__img--border{
    border: solid 5px white;
}
.card--horizontal .card__img{
    border-radius: var(--radius-md) 0 0 var(--radius-md) ;
    width: 120px;
    height: 120px;
}
.card--horizontal .card__content{
    flex: 1 1 auto;
}
.card--column .card__img{
    flex: 1 1 auto;
    height: 30px;
}
@media (max-width: 767px){
    .card--column .card__img{
        height: 100px;
    }
}

/***********
** RATING **
***********/

.rating{
    display: flex;
    font-size: 10px;
    margin-top: auto;
}

.rating .fas{
    color: var(--primary);
}

.rating .fas.disabled{
    color: var(--secondary);
}